* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #e3f2fd, #ffffff);
    min-height: 100vh;
    color: #333;
    transition: 0.3s ease;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
}

#themeToggle {
    background: transparent;
    border: 1px solid white;
    padding: 6px 14px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}


.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 15px;
}

.hero p {
    opacity: 1.0;
    margin-bottom: 25px;
    font-size: 18px;
}

.cta-btn {
    padding: 12px 28px;
    background: white;
    color: #203a43;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
}


.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 60px 100px;
}


.card {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(15px);
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}


.field {
    margin-bottom: 18px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}

textarea {
    height: 100px;
    resize: none;
}


.primary-btn {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(135deg, #ff512f, #dd2476);
    color: white;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
}

.primary-btn:hover {
    transform: scale(1.05);
}

.small-btn {
    width: auto;
    padding: 8px 18px;
}


.todo-input {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

#taskList {
    list-style: none;
}

#taskList li {
    background: rgba(255,255,255,0.9);
    color: #333;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#taskList button {
    background: #ff4b5c;
    border: none;
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
}


footer {
    text-align: center;
    padding: 30px;
    opacity: 0.8;
}


@media (max-width: 900px) {
    .main {
        grid-template-columns: 1fr;
        padding: 40px;
    }

    .hero h1 {
        font-size: 28px;
    }
}
